version: '2'
services:
   appdata:
      build:
          context: .
          dockerfile: application.Dockerfile
      command: sleep infinity
   tomcat:
      build:
          context: .
          dockerfile: tomcat.Dockerfile
      command: ["catalina.sh", "run"]
      depends_on: [ "appdata" ]
      volumes_from: [ "appdata" ]
   nginx:
      build:
          context: .
          dockerfile: web.Dockerfile
      command: ["nginx", "-g", "daemon off;"]
      depends_on: [ "tomcat" ]
      expose: [ "80" ]
      ports: [ "80:80" ]



